/* Common Shared Style */
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
.header-banner {
  margin: 0 auto;
}
.btn-primary {
  border: none;
  background-color: orangered;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
}
.btn-primary:hover {
  opacity: 80%;
  border: 2px solid goldenrod;
  cursor: pointer;
}
/* BANNER STYLE */
.banner {
  /* background-image: url('resources/Banner\ Image.png'); */
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.587) 0%, rgba(0, 0, 0, 0.25) 37%, rgba(0, 0, 0, 0.564)), url('resources/Banner\ Image.png');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  max-width: 1600px;
  /* max-height: 1600px; */
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-bottom:100px;
  position: relative;
}
.banner-content {
  color: #fff;
  max-width: 500px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 30%;
}
.banner-heading {
  font-size: 2.5rem;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  margin-bottom: 15px;
}
.banner-title {
  font-size: 4.5rem;
  font-weight: 700;
  
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

/* DISCOUNT SECTION STYLE */
.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.discount-contant {
  text-align: center;
  margin-bottom: 80px;
}
.discount-heading {
  color: #F00;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 45px;
}
.discount-description {
  color: #F00;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.discount-catagory {
  color: #070211;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* WELLCOME SECTION 2024 */
.welcome-2024 {
  background: linear-gradient(135deg, rgba(0, 6, 24, 0.773) 0%, rgba(0, 0, 0, 0.099)), url('resources/Vectorrr.png');
  background-repeat: no-repeat;

  max-width: 1600px;
  /* max-height: 1600px; */
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-bottom:100px;
  
}
.welcome-element {
  display: flex;
  color: #fff;
  justify-content:space-between;
  align-items: center;
  margin: 50px;
  padding: 20px;
}
.welcome-details-left {
  max-width: 600px;
}
.welcome-heading {
  font-size: 4rem;
  margin-bottom: 30px;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.80);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.welcome-details-right {
  padding: 60px;
  margin-left: 150px;
}

/* SECTION BOOKING */
.booking-date {
  background:linear-gradient(180deg, rgba(208,0,0,0.6474964985994398) 0%, rgba(9,21,121,0.6474964985994398) 42%, rgba(0, 238, 255, 0.093) 100%);
  padding: 100px;
  text-align: center;
}
.b-s-color {
  color: red;
}
.booking-date h2 {
  margin-bottom: 20px;
}
#book-btn {
  color: #fff;
  background-color: red;
}
/* OFFER SECTION */
.best-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  max-width: 1200px;
}
.best-offer-comming {
  max-width: 300px;
  padding: 20px;
  margin: 20px;
}
.offer-comming {
  color: #F00;
  font-size: 1.5rem;
}
.offer-2nd-comming {
font-size: 3rem;
margin-bottom: 20px;
}
.best-offer-pic {
  margin: 20px;
  padding: 20px;
}
.offer-box {
  border: 12px solid black;
  border-radius: 50%;
  padding: 20px;
}
.offer-box img {
  max-width: 100%;
}
.offer-2024 {
  max-width: 300px;
  padding: 20px;
  margin: 20px;
}
.a2024-offer-heading {
  font-size: 3rem;
  color: #F00;
  margin-bottom: 20px;
  margin-top: 40px;
}
.a2024-offer-para {
  color: rgba(7, 2, 17, 0.60);
  margin-bottom: 20px;
}
/* HOLIDAYS SECTION */
.holiday-title {
  color: black;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.holiday-heading {
  margin-bottom: 15px;
}
.holidays-color {
  color: #F00;
}
.holiday-para {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.holiday {
  text-align: center;
  margin-bottom: 0px;
}
.holiday-image {
  max-width: 1400px;
  height: 800px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 0;
}
.holiday-img1 {
  position: absolute;
  z-index: 1;
}
.holiday-img1 {
  mix-blend-mode: darken;
}
.holiday-img2 {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 10%;
  left: 32%;
}
.holiday-img3 {
  position: absolute;
  right: 0%;
  right: 1.6%;
  top: 1%;
}

.holiday-img4 {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
}
/* .portfilio {
  margin-top: 900px;
} */
/* PORTFOLIO SECTION */
.portfilio {
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.protfilio-details {
  margin: 0 auto;
  margin-left: 100px;
  margin-bottom: 40px;
  max-width: 800px;
}
.portfilio-heading {
  color: #F00;
  margin-bottom: 10px;
}
.portfilio-title {
  color: #070211;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.portfilio-box {
  display: flex;
  flex-wrap: wrap;
   margin: 0 auto;
 justify-content: center;
  align-items: center;
}
.box{
  height: 100%;
  width: 25%;
  padding: 15px;
  border: 4px solid black;
  border-radius: 15px;
  margin: 20px;
}
.box img {
  height: 100%;
  width: 100%;
  background-size: cover;
  /* margin: 10px;
  padding: 10px; */

}

/* NEWSLETTER SECTION */
.newsletter {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 16px;
  background: rgba(250, 9, 9, 0.204);
  max-width: 1400px;
}
.newsletter-heading {
  color: #070211;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 20px;
}
.newsletter-para {
  color: rgba(7, 2, 17, 0.60);
  font-size: 1rem;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
  line-height: 22px; 
  margin-bottom: 30px;
}
#newsletter-email {
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #FFF;
  padding: 15px;
  padding-left: 40px;
  margin-right: -4px;
}
.input-button {
  border: none;
  padding: 15px;
  border-radius: 0px 50px 50px 0px;
  background: #F00;
  padding-right: 20px;
}

/* FOOTER SECTION */
.footer {
  background-color: #070211;
  color: #FFF;
  max-width: 1400px;
  margin: 0 auto;
}
.footer-section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 30px;
}
.section-1-left-side {
  max-width: 250px;
  line-height: 30px;
}
.section-1-call-section {
  display: flex;
  margin: 30px;
  margin-bottom: 0;
  gap: 10px;
}
.section-1-website-section {
  display: flex;
  margin: 30px;
  margin-top: 0;
  gap: 10px;
}
.footer-section-2 {
  text-align: center;
  margin: 30px;
}
.footer-section-2 img {
  padding: 10px;
  width: 50px;
}
.footer-section-3 {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  padding-top: 30px;
  padding-bottom: 100px;
}